.tracker {
    font-size: 14px;
    border-collapse: collapse;
}

.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
    color: #ffffff;
    background: #009578;
}

.tracker .th,
.tracker td {
    padding: 0.75em;
}