.tracker {
    font-size: 14px;
    border-collapse: collapse;
}

.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
    color: #ffffff;
    background: #009578;
    font-weight: bold;
}

.tracker th,
.tracker td {
    padding: 0.75em;
}

.tracker-entries .tracker-row {
    background: #eeeeee;
}

.tracker-entries .tracker-row:nth-child(odd) {
    background: #dddddd;
}

.tracker-date,
.tracker-workout,
.tracker-weight,
.tracker-set1,
.tracker-set2,
.tracker-set3,
.tracker-set4 {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    height: 2.5em;
    padding: 0.5em 0;
    border: none;
    outline: none;
    background: none;
}

.tracker-weight,
.tracker-set1,
.tracker-set2,
.tracker-set3,
.tracker-set4 {
    width: 3em;
    text-align: left;
}

.tracker-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    color: red;
    font-size: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.tracker-delete:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tracker-row-add {
    border-top: 2px solid #333333;
    /*border-bottom: 2px solid #333333;*/
    background-color: white;
}

.tracker-row-add td {
    text-align: right;
}

.tracker-add {
    display: inline-block;
    padding: 0.8em;
    color: green;
    cursor: pointer;
}

.tracker-add:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}

li {
    display: inline-block;
    font-family: sans-serif;
    margin: auto;
    
    font-weight: bold;
}

li a:hover {
    background-color: #009578;
  }

main {
    width: 950px;
    margin: auto;
    border: #333 2px solid;
    border-radius: 10px;
    padding-bottom: 1em;
    background-color: white;
}

table {
    margin: auto;
    border-radius: 10px;
}

nav {
    margin-bottom: 1em;
    border-bottom: #333 2px solid;
}

h1,
h2 {
    font-family: sans-serif;
    text-align: center;
    color: #333;
}

body {
    background-color: #eee;
}

.active {
    background-color: #009578;
}

iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: #333 2px solid;
}
